<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock, Paper, Scissors!</title>
    </head>
    <body>
        <div class="container">
            <h1>Player 1, enter your choice!</h1>
            <form action="/player_two" method="get">
                <input type="radio" name="p1" value="rock">Rock<br>
                <input type="radio" name="p1" value="paper">Paper<br>
                <input type="radio" name="p1" value="scissors">Scissors<br>
                <button type='submit' class='btn-success'>Submit!</button>
            </form>
        </div>
    </body>
</html>
