<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock, Paper, Scissors!</title>
    </head>
    <body>
        <div class="container">
            <h1>Click 'Play!' to play a two-player version of Rock, Paper, Scissors</h1>
            <form action="/player_one" method="get">
                <button type='submit' class='btn-success'>Play!</button>
            </form>
        </div>
    </body>
</html>
